<template>
  <div class="home">
    <div class="game">
      <h1>Jeu de mots le plus long</h1>
      <div v-if="!gameStarted">
        <h2>Choisissez le niveau de difficulté :</h2>
        <button @click="startGame(50)">Facile (50 points)</button>
        <button @click="startGame(100)">Moyen (100 points)</button>
        <button @click="startGame(1000)">Difficile (1000 points)</button>
      </div>
      <div v-else>
        <h2>Tour de {{ currentPlayer }}</h2>
        <p>{{ currentPlayer }} a {{ playerScore[currentPlayer] }} points</p>
        <p>Lettres restantes : {{ letters.join(", ") }}</p>
        <form @submit.prevent="submitWord">
          <input type="text" v-model="currentWord" :maxlength="maxWordLength" />
          <button>Jouer</button>
        </form>
        <p style="color: brown;" v-if="errorMessage">{{ errorMessage }}</p>
        <p v-if="successMessage">{{ successMessage }}</p>
        <p v-if="gameOver">Fin du jeu ! Le gagnant est {{ winner }}</p>
      </div>
    </div>
  </div>
</template>

<script>
// import words from 'words';
export default {
  name: 'HomeView',
  data() {
    return {
      gameStarted: false,
      currentPlayer: null,
      playerScore: {
        player1: 0,
        player2: 0,
      },
      letters: [],
      currentWord: "",
      errorMessage: "",
      successMessage: "",
      gameOver: false,
      winner: null,
      maxWordLength: 10,
      dictionary: ["aboutir", "aboyer", "abrasif", "abreuvoir", "abriter", "abroger", "absence"]
    };
  },
  mounted() {
  //   this.dictionary = [
  //     ...new Set(
  //       words.filter((word) => word.length >= 3 && /^[a-zA-Z]+$/.test(word)).slice(0, 100)
  //     ),
  // ];
  },
  methods: {
    startGame(points) {
      this.gameStarted = true;
      this.playerScore = {
        player1: 0,
        player2: 0,
      };
      this.currentPlayer = "player1";
      this.letters = this.generateLetters(10);
      this.errorMessage = "";
      this.successMessage = "";
      this.gameOver = false;
      this.winner = null;
      this.points = points;
    },
    generateLetters(numLetters) {
      const alphabet = "abcdefghijklmnopqrstuvwxyz";
      let letters = "";
      for (let i = 0; i < numLetters; i++) {
        const index = Math.floor(Math.random() * alphabet.length);
        letters += alphabet[index];
      }
      return letters.split("");
    },
    submitWord() {
      const word = this.currentWord.toLowerCase().trim();
      this.currentPlayer = this.currentPlayer === "player1" ? "player2" : "player1";
      if (!word) {
        this.errorMessage = "Veuillez entrer un mot valide";
        return;
      }
      if (word.length > this.maxWordLength) {
        this.errorMessage = `Le mot ne doit pas dépasser ${this.maxWordLength} lettres`;
        return;
      }
      if (!this.checkLetters(word)) {
        this.errorMessage = "Les lettres utilisées ne sont pas disponibles";
        return;
      }
      if (!this.checkDictionary(word)) {
        // Le mot n'est pas dans le dictionnaire, on propose un mot plus long
        const suggestions = this.dictionary.filter((dictWord) =>
          dictWord.split("").every((letter) => word.includes(letter))
        );
        const longestSuggestion = suggestions.reduce((longest, suggestion) =>
          suggestion.length > longest.length ? suggestion : longest
          , "");
        if (longestSuggestion.length > word.length) {
          this.errorMessage = `Le mot n'est pas dans le dictionnaire. Voici une suggestion : ${longestSuggestion}`;
        } else {
          this.errorMessage = "Le mot n'est pas dans le dictionnaire.";
        }
        return;
      }
      const score = this.calculateScore(word);
      this.playerScore[this.currentPlayer] += score;
      this.successMessage = `Bravo ! Vous avez gagné ${score} points`;
      this.currentWord = "";
      this.letters = this.generateLetters(10);
      if (this.checkGameOver()) {
        this.gameOver = true;
        this.winner = this.getWinner();
      }
    },

    checkLetters(word) {
      const letters = [...this.letters];
      for (const letter of word) {
        const index = letters.indexOf(letter);
        if (index === -1) {
          return false;
        }
        letters.splice(index, 1);
      }
      return true;
    },
    checkDictionary(word) {
      return this.dictionary.includes(word);
    },
    calculateScore(word) {
      const wordLength = word.length;
      let score = 0;
      if (this.points === 50) {
        score = wordLength;
      } else if (this.points === 100) {
        score = wordLength ** 2;
      } else if (this.points === 1000) {
        score = wordLength ** 3;
      }
      return score;
    },
    checkGameOver() {
      return this.playerScore.player1 >= this.points || this.playerScore.player2 >= this.points;
    },
    getWinner() {
      return this.playerScore.player1 > this.playerScore.player2 ? "Joueur 1" : "Joueur 2";
    },
  },
}
</script>